
<article class="listing">
 <img src="{{galax.image}}" alt="">
 <h3>{{galax.title}}</h3>
 <div class="detail owner">
   <span>Owner:</span> {{galax.owner}}
 </div>
 <div class="detail type">
   <span>Type:</span> {{galax.category}}
 </div>
 <div class="detail location">
   <span>Location:</span> {{galax.city}}
 </div>
 <div class="detail stars">
   <span>Number of stars:</span> {{galax.stars}}
 </div>
</article>